@import "vanilla-framework";
@include vanilla;

@import "icons";

.p-label a {
  color: $color-light;
  &:hover {
    text-decoration: none;
  }
}

.p-asset-card--thumbnail {
  max-height: 100px;
  min-height: 100px;
}

.asset-additional-edit-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  & > * {
    margin: 0 !important;
  }
}

.p-filter-panel-section__chips {
  max-height: 10rem;
}
.p-filter-panel-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-filter-panel-section__chips-toggle {
  padding-top: 6px;
  margin-bottom: 18px;
}

.p-asset-card {
  padding:0.75rem;
  background:#f7f7f7;
  margin-top:2rem;
}