<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} | Assets manager</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ versioned_static('css/main.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="/static/js/dist/main.js" defer></script>
    <link
      rel="icon"
      type="image/png"
      href="https://assets.ubuntu.com/v1/cb22ba5d-favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://assets.ubuntu.com/v1/49a1a858-favicon-32x32.png"
      sizes="32x32"
    />
  </head>

  <body>
    <header id="navigation" class="p-navigation">
      <div class="p-navigation__row--25-75">
        <div class="p-navigation__banner">
          <div class="p-navigation__tagged-logo">
            <a class="p-navigation__link" href="/manager">
              <div class="p-navigation__logo-tag">
                <img
                  class="p-navigation__logo-icon"
                  src="https://assets.ubuntu.com/v1/82818827-CoF_white.svg"
                  alt=""
                />
              </div>
              <span class="p-navigation__logo-title">Canonical asset manager</span>
            </a>
          </div>
          <a href="#navigation" class="p-navigation__toggle--open" title="menu"
            >Menu</a
          >
          <a
            href="#navigation-closed"
            class="p-navigation__toggle--close"
            title="close menu"
            >Close menu</a
          >
        </div>

        <nav class="p-navigation__nav" aria-label="Main navigation">
          <ul class="p-navigation__items">
            <li class="p-navigation__item">
              <a class="p-navigation__link" href="/manager">Search assets</a>
            </li>
            <li class="p-navigation__item">
              <a class="p-navigation__link" href="/manager/create"
                >Add asset</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="main-content">{% block content %} {% endblock %}</main>
    
    <script>
      function generateImageTag(str) {
        const img = new Image()
        img.onload = function () {
          imageLoadHandler(`
          \{\{ image\(url="${str}",
            alt="",
            width="${this.width}",
            height="${this.height}",
            hi_def=True,
            loading="auto|lazy"
            \) \| safe
          \}\}`)
        }
        img.src = str
      }

      function imageLoadHandler(imageTagContent) {
        copyToClipboard(imageTagContent)
      }

      function copyToClipboard(str) {
        var el = document.createElement("textarea") // Create a <textarea> element
        el.value = str // Set its value to the string that you want copied
        el.setAttribute("readonly", "") // Make it readonly to be tamper-proof
        el.style.position = "absolute"
        el.style.left = "-9999px" // Move outside the screen to make it invisible
        document.body.appendChild(el) // Append the <textarea> element to the HTML document
        var selected =
          document.getSelection().rangeCount > 0 // Check if there is any content selected previously
            ? document.getSelection().getRangeAt(0) // Store selection if found
            : false // Mark as false to know no selection existed before
        el.select() // Select the <textarea> content
        document.execCommand("copy") // Copy - only works as a result of a user action (e.g. click events)
        document.body.removeChild(el) // Remove the <textarea> element
        if (selected) {
          // If a selection existed before copying
          document.getSelection().removeAllRanges() // Unselect everything on the HTML document
          document.getSelection().addRange(selected) // Restore the original selection
        }
      }

      var imageTagButtons = document.querySelectorAll(".js-copy-image-tag")
      imageTagButtons.forEach((button) => {
        button.addEventListener("click", (e) => {
          let url = e.target.dataset.url
          if (url.startsWith("/")) url = `${location.origin}${url}`
          generateImageTag(url)
        })
      })

      var copyButtons = document.querySelectorAll(".copy-link")
      for (var copyButton of copyButtons) {
        copyButton.addEventListener(
          "click",
          function (e) {
            let url = e.target.dataset.url
            if (url.startsWith("/")) url = `${location.origin}${url}`
            copyToClipboard(encodeURI(url))
            showNotification("Link copied to clipboard")
          },
          false
        )
      }
    </script>

    <!-- Notification -->
    <div class="p-notification--positive u-hide" id="notification">
      <div class="p-notification__content">
        <p class="p-notification__message"></p>
        <button
          class="p-notification__close"
          aria-controls="notification"
          onclick="hideNotification()"
        ></button>
      </div>
    </div>
    <style>
      #notification {
        z-index: 9999;
        max-width: 20rem;
        padding: 0.5rem 3rem;
        margin: 1rem;
        position: fixed;
        right: 0;
        top: 0;
        background: white;
      }
    </style>
    <script>
      const notificationEl = document.getElementById("notification")
      const notificationTimeout = 2000
      let notificationIsVisible = false
      let notificationTimeoutId = null
      const sleep = (ms) => new Promise((resolve) => setTimeout(resolve, ms))
      async function showNotification(message) {
        if (notificationIsVisible) {
          hideNotification()
          await sleep(100)
        }
        notificationIsVisible = true
        notificationEl.classList.remove("u-hide")
        notificationEl.querySelector(".p-notification__message").innerHTML =
          message
        // auto close after 5 seconds
        notificationTimeoutId = setTimeout(hideNotification, 5000)
      }

      function hideNotification() {
        notificationIsVisible = false
        clearTimeout(notificationTimeoutId)
        notificationEl.classList.add("u-hide")
      }

      document.querySelectorAll(".p-navigation__link").forEach((link) => {
        if (link.href === location.href) {
          link.parentElement.classList.add("is-selected")
        }
      })
    </script>
  </body>
</html>
