{% set max_pagination_items = 3 %}
<div class="p-section--deep">
  <div class="row--50-50">
    <div class="col">
      {% if total_pages > 1 %}
        <nav class="p-pagination" aria-label="Pagination">
          <ol class="p-pagination__items u-align--left">
            <li class="p-pagination__item">
              <a class="p-pagination__link--previous u-no-margin--bottom {{ 'is-active is-disabled p-link--disabled' if page == 1 }}"
                 href="{{ add_query_param('page', page - 1) }}">
                <i class="p-icon--chevron-down">Previous page</i>
              </a>
            </li>
            <li class="p-pagination__item">
              <a class="p-pagination__link u-no-margin--bottom {{ 'is-active' if page == 1 }}"
                 href="{{ add_query_param('page', 1) }}">1</a>
            </li>
            {% if page > 3 %}<li class="p-pagination__item p-pagination__item--truncation u-hide--small">…</li>{% endif %}
            {% for p in range(page - 1, page + max_pagination_items) %}
              {% if p > 1 and p <= total_pages %}
                <li class="p-pagination__item">
                  <a class="p-pagination__link u-no-margin--bottom {{ 'is-active' if page == p }}"
                     href="{{ add_query_param('page', p) }}">{{ p }}</a>
                </li>
              {% endif %}
            {% endfor %}
            {% if page + max_pagination_items < total_pages %}
              <li class="p-pagination__item p-pagination__item--truncation u-hide--small">…</li>
            {% endif %}
            {% if total_pages > max_pagination_items and page + max_pagination_items <= total_pages %}
              <li class="p-pagination__item">
                <a class="p-pagination__link u-no-margin--bottom {{ 'is-active' if page == total_pages }}"
                   href="{{ add_query_param('page', total_pages) }}">{{ total_pages }}</a>
              </li>
            {% endif %}
            <li class="p-pagination__item">
              <a class="p-pagination__link--next u-no-margin--bottom {{ 'is-active is-disabled p-link--disabled' if page == total_pages }}"
                 href="{{ add_query_param('page', page + 1) }}">
                <i class="p-icon--chevron-down">Next page</i>
              </a>
            </li>
          </ol>
        </nav>
      {% endif %}
    </div>
    <div class="col u-align--right">
      <form method="get"
            action=""
            class="p-form p-form--inline p-form--per-page-select">
        <div class="p-form__group">
          <label class="p-form__label" for="assets-per-page">Results by page:</label>
          <select class="p-form__control u-no-margin--bottom"
                  id="assets-per-page"
                  name="per_page"
                  onchange="this.form.submit()">
            <option value="10"
                    {% if request.args.get('per_page') == '10' %}selected{% endif %}>10</option>
            <option value="20"
                    {% if request.args.get('per_page') == '20' %}selected{% endif %}>20</option>
            <option value="50"
                    {% if request.args.get('per_page') == '50' %}selected{% endif %}>50</option>
            <option value="100"
                    {% if request.args.get('per_page') == '100' %}selected{% endif %}>100</option>
          </select>
          <input type="hidden" name="page" value="1" />
          {% for param_name, param_value in request.args.items() %}
            {% if param_name != 'per_page' and param_name != 'page' %}
              <input type="hidden" name="{{ param_name }}" value="{{ param_value }}" />
            {% endif %}
          {% endfor %}
          <noscript>
            <button type="submit" class="p-button">Apply</button>
          </noscript>
        </div>
      </form>
    </div>
  </div>
</div>
