{% extends "_layout.html" %}
{% block title %}Created assets{% endblock %}
{% block content %}
  {% set created = True %}
  <div class="p-strip is-shallow">
    <div class="u-fixed-width">
      <div class="p-section--shallow">
        <h1 class="p-muted-heading">Upload complete</h1>
        <hr class="p-rule" />
      </div>
    </div>
    {% if assets %}
      <div class="p-section--shallow">
        <div class="u-fixed-width">
          <div class="p-section--shallow">
            <div class="p-asset-created-details__header">
              <h2>{{ assets|length }} asset(s) added to asset manager</h2>
              <a href="/manager/create" class="p-button--positive">Add another asset</a>
            </div>
          </div>
        </div>
        <div class="row">{% include "_asset-list.html" %}</div>
      </div>
    {% endif %}
    {% if existing %}
      {% set assets = existing %}
      <div class="p-section--shallow">
        <div class="u-fixed-width">
          <div class="p-section--shallow">
            <div class="p-asset-created-details__header">
              <h2>{{ assets|length }} existing asset(s)</h2>
              <a href="/manager/create" class="p-button--positive">Add another asset</a>
            </div>
          </div>
        </div>
        <div class="row">{% include "_asset-list.html" %}</div>
      </div>
    {% endif %}
    {% if failed %}
      {% set assets = failed %}
      <div class="p-section--shallow">
        <div class="u-fixed-width">
          <div class="p-section--shallow">
            <div class="p-asset-created-details__header">
              <h2>{{ assets|length }} asset(s) failed to upload</h2>
              <a href="/manager/create" class="p-button--positive">Add another asset</a>
            </div>
          </div>
        </div>
        <div class="u-fixed-width">
          <ul class="p-list">
            {% for asset in assets %}<li class="p-list__item">{{ asset.file_path }}{% if asset.error %} :{{ asset.error }}{% endif %}</li>{% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
