{% extends "_layout.html" %}
{% block title %}Create assets disabled{% endblock %}
{% block content %}
  <div class="p-strip">
    <div class="u-fixed-width">
      <h1>Creating assets is disabled</h1>
      <p>
        We are in the process of migrating the asset manager to a new platform. Creating new assets is temporarily disabled.
      </p>
      <p>
        For more information, please reach out to the web team on Mattermost: <a href="https://chat.canonical.com/canonical/channels/web-design"><code>~web-design</code></a>.
      </p>
      <a href="/manager" class="p-button--positive">Go to home</a>
    </div>
  </div>
{% endblock %}
