{% extends "_layout.html" %}
{% block title %}Search assets{% endblock %}
{% block content %}
    <div class="p-strip is-shallow">
        <div class="row">
            <div class="col-12">
                <form action="/manager" class="p-form p-form--inline search">
                    {% if request.values.get('tag', None) %}
                        <input type="text"
                               class="u-hide"
                               name="tag"
                               value="{{ request.values.get('tag', None) }}">
                    {% endif %}
                    <div class="p-form__group">
                        <div class="p-form__control u-clearfix">
                            <input type="search"
                                   class="p-form__control"
                                   name="q"
                                   placeholder="Search"
                                   value="{{ query }}">
                        </div>
                    </div>
                    <div class="p-form__group">
                        <div class="p-form__control u-clearfix">
                            <select name="type" onchange="this.form.submit()">
                                <option {% if not type %}selected{% endif %} value="">any</option>
                                {% for t in available_extensions %}
                                    <option {% if t == type %}selected{% endif %} value="{{ t }}">{{ t }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="p-form__group">
                        <label for="order_by" style="margin-right: 10px;">Order by:</label>
                        <div class="p-form__control u-clearfix">
                            <select name="order_by" onchange="this.form.submit()">
                                {% for field in order_by_fields %}
                                    <option {% if field == order_by %}selected{% endif %} value="{{ field }}">{{ field }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="p-form__group">
                        <div class="p-form__control u-clearfix">
                            <select name="order_dir" onchange="this.form.submit()">
                              <option {% if order_dir == "desc" %}selected{% endif %} value="desc">Descending</option>
                                <option {% if order_dir == "asc" %}selected{% endif %} value="asc">Ascending</option>
                            </select>
                        </div>
                    </div>
                    <button class="p-button--positive">Search</button>
                </form>
            </div>
        </div>
    </div>
    {% include "_pagination.html" %}

    <div class="p-strip is-shallow">
        <div class="row u-clearfix">
            {% if assets %}
                {% include "_asset-list.html" %}
            {% elif request.values.get("q", None) %}
                <h3>No assets found.</h3>
            {% else %}
                <h3>Search for a query to show assets.</h3>
            {% endif %}
        </div>
    </div>
{% include "_pagination.html" %}

{% endblock %}
