{% extends "_layout.html" %}

{% block title %}Search assets{% endblock title %}

{% block content %}

<div class="p-strip is-shallow">
  <div class="u-fixed-width">
    {% include "_search-form.html" %}
  </div>
</div>
{% include "_pagination.html" %}
<div class="p-section--shallow">
  <div class="p-equal-height-row">
    {% if assets %}
      {% include "_asset-list.html" %}
    {% elif request.values.get("q", None) %}
      <h3>No assets found.</h3>
    {% else %}
      <h3>Search for a query to show assets.</h3>
    {% endif %}
  </div>
</div>

{% endblock content %}
