<div class="p-section--shallow">
        <button class="p-button--positive copy-link"
                style="margin-right: 4%"
                data-url="{{ url_for('api_blueprint.get_asset', file_path=asset.file_path) }}">Asset link</button>
        {% if asset.data.image %}
                <button class="p-button js-copy-image-tag"
                        style="margin-right: 4%"
                        data-url="{{ url_for('api_blueprint.get_asset', file_path=asset.file_path) }}">Dev tag</button>
        {% endif %}
        <a class="p-button"
           href="{{ url_for('ui_blueprint.update', file_path=asset.file_path) }}">Edit</a>
</div>
